body {
	font-family: "Open Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	position: sticky;
	background-color: white;
	padding: 10px;
	top: 10px;
}

#logo {
	height: 60px;
	width: 135px;
	margin-left: 2rem;
}

.right-nav {
	display: inline;
	float: right;
	font-weight: bold;
	font-size: 20px;
}

nav .nav, nav .nav-logo, nav .tuitt-button {
	display: inline;
	margin: 1rem;
	margin-bottom: 3rem;
}

nav button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 20px;
	border-radius: 25px;
	border: 0;
	padding: 1rem;
}

#bg-image {
	min-height: 70vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 70vh;
	display: inline-block;
	position: relative;
	float: right;
}


.title {
	font-family: Zilla Slab;
	margin-left: 750px;
	margin-right: 10px;
	font-size: 4rem;
	text-align: right;
}

.subtitle {
	margin-left: 900px;
	margin-right: 10px;
	font-size: 1.8rem;
	text-align: right;
	font-weight: lighter;
}

.title, .subtitle, .apply-button {
	color: white;
	float: right;
	display: inline-block;
}

.apply-button {
	font-weight: bold;
	background-color: #c2195b;
	font-size: 20px;
	border-radius: 25px;
	border: 0;
	padding: 1rem;
	margin-right: 20px;
	margin-top: 20px;
}

.title-2 {
	font-family: Zilla Slab;
	font-size: 3rem;
	text-align: center;
}

.intro-description {
	font-size: 1.2rem;
	text-align: justify;
	margin-left: 15rem;
	margin-right: 15rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding: 50px;
	position: relative;
	height: 300px;
}

.prefooter-description {
	font-size: 1.2rem;
	text-align: justify;
	margin-left: 15rem;
	margin-right: 15rem;
}

.book-button {
	font-weight: bold;
	background-color: #336589;
	font-size: 20px;
	border-radius: 25px;
	border: 0;
	padding: 1rem;
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
}

section .book-button {
	margin-left: 45%;
	margin-right: 45%;
}

footer {
	padding: 0.7rem;
	margin-left: 30%;
	margin-right: 30%;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}